*{margin:0;padding:0;}
ul,li{list-style: none}
img{border:0;display:block}
a{ text-decoration: none;}

#box{width:720px;height:376px; overflow: hidden;margin:5px auto 0; position:relative}
.abut{
	background:rgba(0,0,0,0.8);border-radius:50%;color:#fff;font:24px/40px 'microsoft yahei';display:none;
	height:40px;margin-bottom:-20px;position:absolute;text-align: center;top:40%;width:40px;z-index:2;
}
.apre{left:30px}
.anex{right:30px}
.boxul{position:absolute;top:0;left:0;width:500%;height:100%;}
.boxul .scrli{float:left;height:100%;}
.boxul .optli{opacity:0;position:absolute;z-index: 0}
.boxul .optcur{opacity:1;z-index: 1}

.radio{width:30%; height:20px; position:absolute;bottom:20px;left:40%;z-index:9}
.radio li{width:20px;height:20px;background: #000;margin:0 10px;float:left; cursor:pointer;border-radius:50%}
.radio li.cur{ background: #ff0;}